.footer-div {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #111827;
    height: 85px;
    color: white;
    text-align: center;
    font-size: 16px;
}

.footer-icon {
    color: white;
    margin: 0 5px 0 5px;
    font-size: 20px;
}

.footer-text {
    color: white;
    margin: 0 10px 0 10px;
}