.updateemail-div {
    height: 280px;
    padding: 15px;
}

.updateemail-msg {
    margin: auto;
    text-align: center;
    width: 364px;
    height: 24px;
    font-size: 14px;
    color: #6B7280;
    margin-bottom: 20px;
}

.customer-form-item {
    padding: 5px 0;
}

.customer-form-textinput {
    height: 50px;
}

.customer-form-submit-button {
    margin-top: 10px;
    border-radius: 4px;
    width: 100%;
    height: 48px;
    color: white;
    background-color: #5048E5;
}